<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-button (click)="close()">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>{{ viewTitle }}</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="save()">
      <ion-icon name="checkmark" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
 
<ion-content>
  <ion-item>
    <ion-label position="stacked">Título</ion-label>
    <ion-input tpye="text" [(ngModel)]="event.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Horário de início</ion-label>
    <ion-datetime displayFormat="HH:mm" placeholder="00:00hs" [(ngModel)]="event.startHour"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Horário de Término</ion-label>
    <ion-datetime displayFormat="HH:mm" placeholder="00:00hs" [(ngModel)]="event.endHour"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Sala</ion-label>
    <ion-datetime displayFormat="HH:mm" placeholder="00:00hs" [(ngModel)]="event.endHour"></ion-datetime>
  </ion-item>

  <calendar
      *ngIf="modalReady"
      [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)"
      lockSwipes="true" [showEventDetail] = "false"
  >
  </calendar>
</ion-content>