<ion-content>
  <ion-slides pager="true">
 
    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="light">
        <img class="imgintro" src="\assets\images\Capa-Intro.jpg">
        <h1>Bem-Vindo!</h1>
        <p>Agende suas reuniões e acompanhe as agendas de todas as Salas do Zoom.</p>
        <ion-button (click)="next()" fill="outline" color="light">Próxima</ion-button>
      </ion-text>
    </ion-slide>
 
    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="light">
        <img class="imgintro" src="\assets\images\prumocalendar.jpg">
        <h1>Faça login e comece já!</h1>
        <ion-button (click)="start()" fill="outline" color="light">Começar</ion-button>
      </ion-text>
    </ion-slide>
 
  </ion-slides>
</ion-content>